body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    margin:80px;
    background-color: #E7FE0C;
    margin:2rem max(2rem,50% - 19rem);
    line-height:1.7;
   
}

#page_wrapper{
    min-width: 900px;
    padding:50px;
    background-color: white;
    width:90%;
}

.post {
    padding: 10px;
    margin: 5px;
    background-color: #f3f3f3
}

nav {
    padding-bottom: 1em;
    border-bottom:1px dotted #d5d;
    margin-bottom:1em;
}
nav a {
    
    color: #d64161;
    font-size: 1.2em;
    
    text-decoration: none;
}
h1 a, h2 a{
    text-decoration: none;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}
label{
    font-weight:bold;
}
input{
    padding:5px;
}
textarea{
    padding:10px;
}

.search_input{
    padding:1px;
    font-size: 0.7em;
    text-size: .8em;
}
