<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<div id="page_wrapper">
    <nav>
    <div class="row align-items-center">
        <div class="col">
            <a href="{{ url_for('index') }}">Home</a>
        </div>
        <div class="col">
            <a href="{{ url_for('tags') }}">Tags</a>
        </div>
        <div class="col">
            <a href="{{ url_for('create') }}">Create</a>
        </div>

        <div class="col">
            <form method="GET" action="/search/">
                <input type="text" id="query" name="query" class="search_input" size="12">
                <button type="submit" class="btn btn-light btn-sm">Search</button>
              </form>
        </div>
      </div>

    </nav>


    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}

        {% block content %} {% endblock %}
    </div>
</div>

</body>
</html>